.l_cover{min-height:56px}

.cover-wrapper{
	top:0;
	left:0;
	max-width:100%;
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	align-items:center;
	align-self:center;
	align-content:center;
	color:#555;
	padding:0 16px;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	position:relative;
	overflow:hidden;
	margin-bottom:-100px
	}
.cover-wrapper .cover-backstretch,.cover-wrapper .cover-bg{
	position:absolute;
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover
}
.cover-wrapper .cover-backstretch.lazyload:not(.loaded),.cover-wrapper .cover-bg.lazyload:not(.loaded){opacity:0}
.cover-wrapper .cover-backstretch.lazyload.loaded,.cover-wrapper .cover-bg.lazyload.loaded{
	animation-delay:0s;
	animation-duration:.5s;
	animation-fill-mode:forwards;
	animation-timing-function:ease-out;
	animation-name:fadeIn
}

@-moz-keyframes fadeIn{
	0%{opacity:0;filter:blur(12px);transform:scale(1.02)}
	100%{opacity:1}
}

@-webkit-keyframes fadeIn{
	0%{opacity:0;filter:blur(12px);transform:scale(1.02)}
	100%{opacity:1}
}

@-o-keyframes fadeIn{
	0%{opacity:0;filter:blur(12px);transform:scale(1.02)}
	100%{opacity:1}
}

@keyframes fadeIn{
	0%{opacity:0;filter:blur(12px);transform:scale(1.02)}
	100%{opacity:1}
}
.cover-wrapper .cover-body{
	z-index:1;position:relative;
	height:30%;
}
.cover-wrapper#half{
	max-height:640px;
	min-height:400px;
	height:calc(36vh - 56px + 200px)
}
.cover-wrapper .cover-body{margin-top:56px;margin-bottom:100px;}
.cover-wrapper .cover-body,.cover-wrapper .cover-body .bottom,.cover-wrapper .cover-body .top{display:flex;flex-direction:column;align-items:center;max-width:100%;}
.cover-wrapper .cover-body .bottom{margin-top:32px}
.cover-wrapper .list-h{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:stretch;
	border-radius:4px;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	user-select:none
}
.cover-wrapper .list-h a{
	flex:1;
	display:flex;
	font-weight:600
}
.cover-wrapper .list-h a img{
	display:block;
	border-radius:2px;
	margin:4px;
	min-width:40px;
	max-width:44px
}
@media screen and (max-width:768px){
	.cover-wrapper .list-h a img{
		min-width:36px;
		max-width:40px
	}
}
@media screen and (max-width:500px){
	.cover-wrapper .list-h a img{
		margin:2px 4px;
		min-width:32px;
		max-width:36px
	}
}
@media screen and (max-width:375px){
	.cover-wrapper .list-h a img{min-width:28px;max-width:32px}}
	.cover-wrapper{max-width:100%}
	.cover-wrapper.search .bottom .menu{margin-top:16px}
	.cover-wrapper.search .bottom .menu .list-h a{
		white-space:nowrap;
		flex-direction:row;
		align-items:baseline;
		font-size:1rem;
		padding:2px;
		margin:4px;
		color:rgba(85,85,85,.75);
		text-shadow:0 1px 2px rgba(0,0,0,.05);
		border-bottom:2px solid transparent
}
@media screen and (max-width:500px){.cover-wrapper.search .bottom .menu .list-h a{margin:4px 12px}}
.cover-wrapper.search .bottom .menu .list-h a i{margin-right:4px}
.cover-wrapper.search .bottom .menu .list-h a p{font-size:1rem}
.cover-wrapper.search .bottom .menu .list-h a.active,.cover-wrapper.search .bottom .menu .list-h a:active,.cover-wrapper.search .bottom .menu .list-h a:hover{color:#555;border-bottom:2px solid #555}
.cover-wrapper.dock .menu,.cover-wrapper.featured .menu,.cover-wrapper.focus .menu{border-radius:6px}
.cover-wrapper.dock .menu .list-h a,.cover-wrapper.featured .menu .list-h a,.cover-wrapper.focus .menu .list-h a{flex-direction:column;align-items:center;padding:12px;line-height:1px;border-radius:4px;border-bottom:none;text-align:center;align-content:flex-end;color:rgba(68,68,68,.7);font-size:1.5rem}
@media screen and (max-width:500px){.cover-wrapper.dock .menu .list-h a,.cover-wrapper.featured .menu .list-h a,.cover-wrapper.focus .menu .list-h a{padding:12px 8px}}
.cover-wrapper.dock .menu .list-h a i,.cover-wrapper.featured .menu .list-h a i,.cover-wrapper.focus .menu .list-h a i{margin:8px}
.cover-wrapper.dock .menu .list-h a p,.cover-wrapper.featured .menu .list-h a p,.cover-wrapper.focus .menu .list-h a p{font-size:.875rem}
.cover-wrapper.dock .menu .list-h a.active,.cover-wrapper.featured .menu .list-h a.active,.cover-wrapper.focus .menu .list-h a.active{backdrop-filter:none}
.cover-wrapper.dock .menu .list-h a.active i,.cover-wrapper.dock .menu .list-h a.active i+p,.cover-wrapper.featured .menu .list-h a.active i,.cover-wrapper.featured .menu .list-h a.active i+p,.cover-wrapper.focus .menu .list-h a.active i,.cover-wrapper.focus .menu .list-h a.active i+p{color:#7c5246}
.cover-wrapper.dock .menu .list-h a.active img+p,.cover-wrapper.featured .menu .list-h a.active img+p,.cover-wrapper.focus .menu .list-h a.active img+p{color:#444}.cover-wrapper.dock .menu .list-h a:hover,.cover-wrapper.featured .menu .list-h a:hover,.cover-wrapper.focus .menu .list-h a:hover{background:#fff}
.cover-wrapper.dock .top{margin-bottom:48px}
.cover-wrapper.dock .menu{background:rgba(255,255,255,.5);position:absolute;bottom:0;max-width:100%}
.cover-wrapper.dock .menu .list-h{flex-wrap:nowrap;margin:4px}
.cover-wrapper.dock .menu .list-h a+a{margin-left:4px}
@media screen and (max-width:500px){
	.cover-wrapper.dock .menu .list-h{overflow-x:scroll}
	.cover-wrapper.dock .menu .list-h::-webkit-scrollbar{height:0;width:0}
	.cover-wrapper.dock .menu .list-h::-webkit-scrollbar-track-piece{background:0 0}
	.cover-wrapper.dock .menu .list-h::-webkit-scrollbar-thumb{background:#7c5246;cursor:pointer;border-radius:0}
	.cover-wrapper.dock .menu .list-h::-webkit-scrollbar-thumb:hover{background:#ff5722}}
@supports (backdrop-filter:blur(20px)){
	.cover-wrapper.dock .menu{background:rgba(255,255,255,.5);backdrop-filter:saturate(200%) blur(20px)}}
	.cover-wrapper.featured .menu .list-h{margin:-2px}
	.cover-wrapper.featured .menu .list-h a{margin:2px;background:rgba(255,255,255,.5)}
@supports (backdrop-filter:blur(20px)){
	.cover-wrapper.featured .menu .list-h a{background:rgba(255,255,255,.5);backdrop-filter:saturate(200%) blur(20px)}}
    .cover-wrapper.focus .menu{transition:all .28s ease;-moz-transition:all .28s ease;-webkit-transition:all .28s ease;-o-transition:all .28s ease}
    .cover-wrapper.focus .menu .list-h{margin:2px}
    .cover-wrapper.focus .menu:hover{background:rgba(255,255,255,.5)}
@supports (backdrop-filter:blur(20px)){
	.cover-wrapper.focus .menu:hover{background:rgba(255,255,255,.5);backdrop-filter:saturate(200%) blur(20px)}}
	.cover-wrapper.focus .menu .list-h a{margin:2px}
	.cover-wrapper.focus .menu .list-h a:hover{opacity:1;background:#fff}