#leftDiv1{
    width:126px;
    top:80px;
    float:right;
    position:fixed;
    z-index:10000000;
    left:2px;
    _position:absolute;
    }
.divclose1,.divclose2{
    height:20px;   
    width:118px;
    overflow:hidden;
    font-size:9pt;
    background-color:#F6F6F6;
    text-align:center;
    cursor:pointer;
}
 
.divclose2 img,.divclose1 img{
    cursor:pointer;
    }