.mn-wrap {
    width: 770px;
    height: 230px;
    background: #1d1b26;
    overflow: hidden;
    margin: 50px;
    position: relative;
}
.mn-swiper{
    width: 1186px;
    height: 100%;
    position: initial !important;
}
.swiper-wrapper {
    -webkit-transition-timing-function: linear;    /*之前是ease-out*/
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
  }
.mn-swiper .swiper-slide a{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.mn-swiper .swiper-slide{
    width: 268px !important;
    height: 150px !important;
    background: #000000;
    opacity: 0.5;   
    border-radius: 4px;
    font-size: 24px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 150px;
    margin-top: 40px;
    margin-left: 26px;text-align: center;transition:all .7s ease 0s;
}
.mn-swiper .swiper-slide:hover{

    opacity: 0.9;  box-shadow: -1px 1px 27px -5px rgba(0,0,0,0.7);
-webkit-box-shadow: -1px 1px 27px -5px rgba(0,0,0,0.7);
-moz-box-shadow: -1px 1px 27px -5px rgba(0,0,0,0.7);

}
/* 左侧点击按钮 */
.mn-swiper .swiper-button-prev{
    left: 0;
    background-image: url(../images/swiper-l.png);
}
/* 右侧点击按钮 */
.mn-swiper .swiper-button-next{
    right: 0;
    background-image: url(../images/swiper-r.png);
}
.mn-swiper .swiper-button-next, .mn-swiper .swiper-button-prev{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
}
.mn-swiper .swiper-wrapper{
    width: 100%;
    margin: 0 auto;
}
