.header {
    height: 110px;
    background: #388d5b;
}

.banner {
    height: 520px;
    background: url("../../images/home/banner.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/banner.jpg*/) no-repeat center;
    filter: hue-rotate(
            88deg
    );
}

.banner_inner {
    height: 520px;
    position: relative;
}

.banner_img {
    width: 746px;
    height: 472px;
    position: absolute;
    top: 38px;
    right: -121px;
    background: url("../../images/banner.gif"/*tpa=https://www.zkaqedu.com/content/images/banner.gif*/) no-repeat center;
}

.banner_text {
    width: 658px;
    height: 263px;
    /* background: url(../../images/home/banner-text.png) no-repeat center;  */
    background: url("../../images/home/banner-text_2.png"/*tpa=https://www.zkaqedu.com/content/images/home/banner-text_2.png*/) no-repeat center;
    position: absolute;
    top: 48px;
    left: 280px;
    filter: hue-rotate(   6deg    );


}

.login_box {
    width: 250px;
    height: 329px;
    padding-top: 115px;
    background: url("../../images/home/login_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/login_bg.png*/) no-repeat;
    position: relative;
    border-radius: 0 0 5px 5px;
    filter: hue-rotate( 365deg   );



}

.login_inro {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 19px;
    text-align: center;
}

.login_m {
    height: 222px;
    background: #fff;
    padding: 0 15px;
}
.login_b {
    height: 60px;
    background: #e9e9e9;
    border-radius: 0 0 5px 5px;
    padding-top: 8px;
}

.login_ul li {
    padding-top: 9px;
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
}

.login_ul li input {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    padding: 10px 15px 10px 33px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.login_ul li label {
    width: 30px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 7;
    text-align: center;
    line-height: 40px;
}

.login_ul li label i {
    font-size: 30px;
    color: #aaa;
}

.login_ul li label i.icon-qq {
    font-size: 20px;
}

.login_ul li label i.icon-renlianshibie {
    font-size: 20px;
}

.get_btn_box {
    height: 56px;
    text-align: center;
    padding-top: 17px;
}

.get_btn {
    width: 200px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background: url("../../images/home/get_btn_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/get_btn_bg.png*/) no-repeat;
    cursor: pointer;
}

.aq_btn2:hover {
    -webkit-opacity: .85;
    opacity: .85;
}

.aq_btn {
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.aq_btn:hover {
    -webkit-opacity: .85;
    opacity: .85;
    -webkit-transform: translate(0, 7px);
    -moz-transform: translate(0, 7px);
    -ms-transform: translate(0, 7px);
    -o-transform: translate(0, 7px);
    transform: translate(0, 7px);
}

.login_b p {
    width: 200px;
    margin: 0 auto;
    font-size: 14px;
    color: #8d8d8d;
    line-height: 24px;
}

.lool_more {
    width: 182px;
    height: 55px;
    display: block;
    background: url("../../images/home/look_more_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/look_more_bg.png*/) no-repeat;
    position: absolute;
    left: 290px;
    top: 358px;
    z-index: 8;
}

.home_cont1 {
    padding: 50px 0 60px;
}

.home_title {
    font-size: 32px;
    color: #666;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url("../../images/home/cont1_img1.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img1.png*/) no-repeat center bottom;
}

.home_cont1_ml {
    width: 730px;
    float: left;
}

.home_cont1_mr {
    width: 377px;
    height: 238px;
    float: right;
    background: url("../../images/home/cont1_img2.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img2.png*/) no-repeat;
}

.home_cont1_ml p {
    font-size: 20px;
    color: #666;
    line-height: 40px;
    margin-bottom: 5px;
}

.report_h3 {
    font-size: 24px;
    color: #548d6c;
    line-height: 80px;
}

.report_h3 img {
    margin: 0 10px;
}

.home_cont1_b {
    border-top: 1px solid #eee;
    padding-top: 35px;
}

.home_cont1_bl {
    width: 700px;
    float: left;
}

.home_cont1_br {
    width: 420px;
    padding-left: 45px;
    float: right;
    border-left: 1px solid #e5e5e5;
}

.count_list li {
    padding-bottom: 20px;
    border-bottom: 1px dashed #c9e4d4;
}

.count_list li.mid {
    padding-top: 20px;
}

.count_list li.last {
    border-bottom: none;
    padding-top: 20px;
}

.count_list_icon {
    width: 82px;
    height: 61px;
    float: left;
}

.count_list_icon1 {
    background: url("../../images/home/cont1_img4.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img4.png*/) no-repeat left 15px;
}

.count_list_icon2 {
    background: url("../../images/home/cont1_img5.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img5.png*/) no-repeat left 15px;
}

.count_list_icon3 {
    background: url("../../images/home/cont1_img6.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img6.png*/) no-repeat left 15px;
}

.count_list_txt {
    width: 595px;
    float: right;
}

.count_list_p {
    font-size: 20px;
    color: #666;
    line-height: 60px;
}

.count_list_p strong {
    font-size: 46px;
    color: #548d6c;
    margin: 0 10px;
}

.count_list_p strong span {
    font-size: 24px;
}

.progressbar {
    padding-top: 10px;
}

.progressbar .bar {
    height: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
    line-height: 30px;
    margin-bottom: 5px;
}

.progressbar .bar1 {
    background: url("../../images/home/cont1_img7.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img7.png*/) no-repeat;
}

.progressbar .bar2 {
    background: url("../../images/home/cont1_img8.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img8.png*/) no-repeat;
}

.progressbar .bar3 {
    background: url("../../images/home/cont1_img9.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img9.png*/) no-repeat;
}

.progressbar .bar4 {
    background: url("../../images/home/cont1_img10.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont1_img10.png*/) no-repeat;
}

.progressbar .text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
}

.progressbar .text1 {
    color: #71b68e;
}

.progressbar .text2 {
    color: #e4a073;
}

.progressbar .text3 {
    color: #8bc0e9;
}

.progressbar .text4 {
    color: #9f95db;
}

.home_cont2 {
    height: 1197px;
    padding: 50px 0;
    background: url("../../images/home/cont2_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont2_bg.jpg*/) no-repeat center;
}

.home_title2 {
    color: #fff;
    background: url("../../images/home/cont2_title_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont2_title_bg.png*/) no-repeat center bottom;
}

.home_title3 {
    background: url("../../images/home/cont3_bg5.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg5.png*/) no-repeat center bottom;
}

.home_title4 {
    color: #fff;
    background: url("../../images/home/cont4_img1.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont4_img1.png*/) no-repeat center bottom;
}

.home_title5 {
    background: url("../../images/home/cont5_title_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont5_title_bg.png*/) no-repeat center bottom;
}

.home_title6 {
    background: url("../../images/home/cont6_title_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont6_title_bg.png*/) no-repeat center bottom;
}

.home_title9 {
    background: url("../../images/home/cont9_bg1.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont9_bg1.png*/) no-repeat center bottom;
}

.home_title10 {
    color: #fff;
    background: url("../../images/home/cont10_title_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont10_title_bg.png*/) no-repeat center bottom;
}

.home_title11 {
    background: url("../../images/home/cont11_title_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont11_title_bg.png*/) no-repeat center bottom;
}

.home_title32 {
    background: url("../../images/home/cont3_bg6.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg6.png*/) no-repeat center bottom;
}

.home_title2_sub {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.home_title3_sub {
    font-size: 20px;
    color: #528969;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.home_title4_sub {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.home_title5_sub {
    font-size: 20px;
    color: #528969;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.home_title6_sub {
    font-size: 20px;
    color: #528969;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.home_title9_sub {
    font-size: 20px;
    color: #528969;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.cont2_ul li {
    width: 363px;
    border: 2px solid #d6eadc;
    background: #fff;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0 13px;
}

.cont2_ul li.margr0 {
    margin-right: 0;
}

.cont2_ul li.floatright {
    float: right;
}

.imgbox {
    height: 218px;
    line-height: 218px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.imgbox img {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.cont2_ul li:hover .imgbox img {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

.cont2_txt {
    height: 160px;
    overflow: hidden;
    padding: 15px 5px 0;
    margin-bottom: 15px;
}

.cont2_txt2 {
    height: 120px;
}

.cont2_txt3 {
    height: 120px;
}

.cont2_dl dt {
    font-size: 22px;
    color: #528969;
    line-height: 36px;
    margin-bottom: 5px;
}

.cont2_dl dd {
    font-size: 16px;
    color: #777;
    line-height: 28px;
}

.cont2_dl dd a {
    display: inline-block;
    color: #58658b;
}

.cont2_dl dd a:hover {
    text-decoration: underline;
}

.cont2_ul li.bgnone {
    background: none;
    border: none;
}

.imgbox2 {
    height: 245px;
    line-height: 245px;
    border-bottom: none;
}

.cont2_txt3 {
    font-size: 20px;
    color: #dcfdf0;
    line-height: 40px;
}

.studymore_btn_box {
    padding-top: 20px;
}

.studymore_btn {
    width: 242px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: url("../../images/home/study_more.png"/*tpa=https://www.zkaqedu.com/content/images/home/study_more.png*/) no-repeat;
}

.home_cont3 {
    padding: 50px 0;
}

.home_cont3_t {
    height: 612px;
    background: url("../../images/home/cont3_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg.jpg*/) no-repeat;
}

.cont3_ul_box {
    position: relative;
    height: 486px;
    overflow: hidden;
}

.cont3_ul {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.cont3_ul a {
    cursor: pointer;
}

.cont3_ul a:hover {
    text-decoration: underline;
}

.radar_cont {
    width: 627px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -313px;
    margin-top: 4px;
    z-index: 2;
    background: url("../../images/home/radar.png"/*tpa=https://www.zkaqedu.com/content/images/home/radar.png*/) no-repeat center;
    -webkit-animation: radar_move 10s linear infinite;
    -moz-animation: radar_move 10s linear infinite;
    -ms-animation: radar_move 10s linear infinite;
    -o-animation: radar_move 10s linear infinite;
    animation: radar_move 10s linear infinite;
}

@keyframes radar_move {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.cont3_ul li {
    width: 606px;
    height: 156px;
    margin-bottom: 8px;
    position: relative;
}

.cont3_ul li.one {
    background: url("../../images/home/cont3_bg1.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg1.png*/) no-repeat;
}

.cont3_ul li.two {
    background: url("../../images/home/cont3_bg2.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg2.png*/) no-repeat;
}

.cont3_ul li.three {
    background: url("../../images/home/cont3_bg3.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg3.png*/) no-repeat;
}

.cont3_ul li.four {
    background: url("../../images/home/cont3_bg4.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_bg4.png*/) no-repeat;
}

.cont3_imgbox {
    width: 140px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
    line-height: 150px;
    text-align: center;
    overflow: hidden;
}

.cont3_imgbox img {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.cont3_txt {
    padding-left: 140px;
}

.cont3_ul li:hover .cont3_imgbox img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.cont3_dl {
    padding-top: 20px;
    height: 130px;
    overflow: hidden;
    padding-right: 15px;
}

.cont3_dl dt {
    font-size: 28px;
    color: #528969;
    line-height: 40px;
}

.cont3_dl dd {
    font-size: 16px;
    color: #5b6b8f;
    line-height: 36px;
}

.home_cont3_b {
    padding-top: 50px;
}

.home_cont3_bi>div {
    width: 560px;
}

.home_cont3_bi>div.home_cont3_bil {
    float: left;
    width: 560px;
}

.home_cont3_bi>div.home_cont3_bir {
    float: right;
    border-left: 1px solid #e5e5e5;
    padding-left: 50px;
}

.cont3_bl1,
.cont3_br1 {
    height: 238px;
    position: relative;
}

.cont3_br1 {
    background: url("../../images/home/cont3_img11.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img11.jpg*/) no-repeat;
}

.cont3_br3 {
    background: url("../../images/home/cont3_img12.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img12.jpg*/) no-repeat -50px top;
    position: relative;
}

.cont3_bl1::after {
    content: url("../../images/home/cont3_line.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_line.jpg*/);
    width: 560px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
}

.cont3_br1::after {
    content: url("../../images/home/cont3_line.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_line.jpg*/);
    width: 560px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.cont3_bl2,
.cont3_br2 {
    height: 260px;
    position: relative;
    padding-top: 20px;
}

.cont3_bl3,
.cont3_br3 {
    height: 260px;
    position: relative;
    padding-top: 20px;
}

.cont3_bl4,
.cont3_br4 {
    height: 200px;
    position: relative;
    padding-top: 20px;
}

.cont3_bl2::after {
    content: url("../../images/home/cont3_line.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_line.jpg*/);
    width: 560px;
    display: block;
    position: absolute;
    bottom: 0;
    right: -50px;
    z-index: 6;
}

.cont3_br2::after {
    content: url("../../images/home/cont3_line.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_line.jpg*/);
    width: 560px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -50px;
    z-index: 6;
}

.cont3_bl3::after {
    content: url("../../images/home/cont3_line.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_line.jpg*/);
    width: 560px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
}

.cont3_br3::after {
    content: url("../../images/home/cont3_line.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_line.jpg*/);
    width: 560px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.cont3_b_ul li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.cont3_b_ul li.txt {
    line-height: 36px;
}

.cont3_b_ul li.txt span {
    color: #619d6d;
}

.cont3_b_ul li.img {
    height: 50px;
}

.cont3_b_ul li.img1 {
    background: url("../../images/home/cont3_img5.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img5.jpg*/) no-repeat;
}

.cont3_b_ul li.img2 {
    background: url("../../images/home/cont3_img6.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img6.jpg*/) no-repeat;
}

.cont3_bl_h2 {
    font-size: 24px;
    color: #68947a;
    line-height: 40px;
    margin-bottom: 10px;
}

.cont3_bl_p {
    font-size: 18px;
    color: #888;
    line-height: 36px;
}

.cont3_bl_p a {
    display: inline-block;
}

.cont3_bl_p a {
    font-size: 18px;
    color: #58658b;
}

.cont3_bl_p a:hover {
    text-decoration: underline;
}

.cont3_bl3_ul {
    padding-top: 20px;
}

.cont3_bl3_ul li {
    width: 25%;
    float: left;
}

.grading_img {
    width: 110px;
    height: 110px;
    margin: 0 auto 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.cont3_bl3_ul li:hover .grading_img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.grading_img1 {
    background: url("../../images/home/cont3_img7.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img7.jpg*/) no-repeat;
}

.grading_img2 {
    background: url("../../images/home/cont3_img8.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img8.jpg*/) no-repeat;
}

.grading_img3 {
    background: url("../../images/home/cont3_img9.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img9.jpg*/) no-repeat;
}

.grading_img4 {
    background: url("../../images/home/cont3_img10.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont3_img10.jpg*/) no-repeat;
}

.cont3_bl3_dl dt {
    font-size: 18px;
    color: #666;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cont3_bl3_dl dd {
    font-size: 20px;
    color: #458760;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cont3_bl3_dl dd strong {
    color: #6074b6;
}

.cont3_br3_p {
    width: 180px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #458760;
    line-height: 30px;
    padding-left: 30px;
    background: url("../../images/icons/pc.png"/*tpa=https://www.zkaqedu.com/content/images/icons/pc.png*/) no-repeat left center;
    position: absolute;
    z-index: 7;
}

.cont3_br3_p1 {
    left: 25px;
    top: 35px;
}

.cont3_br3_p2 {
    left: 12px;
    top: 90px;
}

.cont3_br3_p3 {
    left: 12px;
    top: 150px;
}

.cont3_br3_p4 {
    left: 12px;
    top: 211px;
}

.cont3_br3_p5 {
    left: 360px;
    top: 35px;
}

.cont3_br3_p6 {
    left: 415px;
    top: 90px;
}

.cont3_br3_p7 {
    left: 388px;
    top: 160px;
}

.cont3_br3_p8 {
    left: 372px;
    top: 211px;
}

.look_all_require_box {
    padding-top: 40px;
}

.look_all_require {
    width: 242px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: url("../../images/home/look_all_require.png"/*tpa=https://www.zkaqedu.com/content/images/home/look_all_require.png*/) no-repeat;
}

.look_gang_box {
    padding-top: 20px;
}

.look_gang {
    width: 320px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: url("../../images/home/look_gang.png"/*tpa=https://www.zkaqedu.com/content/images/home/look_gang.png*/) no-repeat;
}

.look_datum_box {
    padding-top: 20px;
}

.look_datum {
    width: 320px;
    height: 51px;
    display: block;
    margin: 0 auto;
    /* background: url(../../images/home/look_datum_bg.png) no-repeat; */
    background: url("../../images/home/look_datum_bg_1.png"/*tpa=https://www.zkaqedu.com/content/images/home/look_datum_bg_1.png*/) no-repeat;
}

.look_all_teacher {
    width: 242px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: url("../../images/home/look_more_teacher.png"/*tpa=https://www.zkaqedu.com/content/images/home/look_more_teacher.png*/) no-repeat;
}

.home_cont4 {
    height: 680px;
    padding: 50px 0;
    background: url("../../images/home/cont4_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont4_bg.jpg*/) no-repeat center;
}

.teachers_box {
    height: 460px;
}


/**/

a.abtn {
    display: block;
    width: 27px;
    height: 62px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 7;
}

a.aleft {
    background: url("../../images/icons/btn_left.png"/*tpa=https://www.zkaqedu.com/content/images/icons/btn_left.png*/) no-repeat;
    left: -50px;
}

a.agrayleft {
    cursor: default;
    -webkit-opacity: .4;
    opacity: .4;
}

a.aright {
    background: url("../../images/icons/btn_right.png"/*tpa=https://www.zkaqedu.com/content/images/icons/btn_right.png*/) no-repeat;
    right: -50px;
}

a.agrayright {
    cursor: default;
    -webkit-opacity: .4;
    opacity: .4;
}

.scrolllist {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}

.scrolllist .imglist_w {
    width: 1140px;
    height: 460px;
    overflow: hidden;
    float: left;
    position: relative;
    /*必要元素*/
}

.scrolllist .imglist_w ul {
    width: 20000px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.scrolllist .imglist_w li {
    width: 360px;
    height: 460px;
    float: left;
    margin: 0 10px;
    background: #fff;
    overflow: hidden;
}

.teacher_img {
    width: 360px;
    height: 302px;
    border-bottom: 8px solid #3bad76;
    -webkit-transition: .3s 0.1s;
    -moz-transition: .3s 0.1s;
    -ms-transition: .3s 0.1s;
    -o-transition: .3s 0.1s;
    transition: .3s 0.1s;
    overflow: hidden;
    margin: 0 auto;
}

.teacher_img1 {
    background: url("../../images/home/teacher_li.png"/*tpa=https://www.zkaqedu.com/content/images/home/teacher_li.png*/) no-repeat center;
    background-size: cover;
}

.teacher_img2 {
    background: url("../../images/home/teacher_lin.png"/*tpa=https://www.zkaqedu.com/content/images/home/teacher_lin.png*/) no-repeat center;
    background-size: cover;
}

.teacher_img3 {
    background: url("../../images/home/teacher_old.png"/*tpa=https://www.zkaqedu.com/content/images/home/teacher_old.png*/) no-repeat center;
    background-size: cover;
}

.teacher_img4 {
    background: url("../../images/home/teacher_zhou.png"/*tpa=https://www.zkaqedu.com/content/images/home/teacher_zhou.png*/) no-repeat center;
    background-size: cover;
}

.teacher_img5 {
    background: url("../../images/home/teacher_guo.png"/*tpa=https://www.zkaqedu.com/content/images/home/teacher_guo.png*/) no-repeat center;
    background-size: cover;
}

.teacher_img6 {
    background: url("../../images/home/teacher_he.png"/*tpa=https://www.zkaqedu.com/content/images/home/teacher_he.png*/) no-repeat center;
    background-size: cover;
}

.teacher_img img {
    width: 100%;
}

.teacher_dl {
    height: 150px;
    padding-top: 15px;
    -webkit-transition: .3s 0.1s;
    -moz-transition: .3s 0.1s;
    -ms-transition: .3s 0.1s;
    -o-transition: .3s 0.1s;
    transition: .3s 0.1s;
}

.teacher_dl dt {
    font-size: 40px;
    color: #68947a;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
    -webkit-transition: .3s 0.1s;
    -moz-transition: .3s 0.1s;
    -ms-transition: .3s 0.1s;
    -o-transition: .3s 0.1s;
    transition: .3s 0.1s;
}

.teacher_dl dd {
    font-size: 24px;
    color: #e4b422;
    line-height: 40px;
    text-align: center;
    -webkit-transition: .3s 0.1s;
    -moz-transition: .3s 0.1s;
    -ms-transition: .3s 0.1s;
    -o-transition: .3s 0.1s;
    transition: .3s 0.1s;
}

.teacher_info {
    height: 202px;
    border-bottom: 20px solid #39af76;
    overflow: hidden;
}

.teacher_p {
    padding: 0 25px;
    font-size: 16px;
    color: #666;
    line-height: 32px;
    text-align: justify;
}

.imglist_w li:hover .teacher_img {
    width: 160px;
    height: 105px;
    border-bottom: 0px solid #3bad76;
    border-radius: 0 0 80px 80px;
}

.imglist_w li:hover .teacher_dl {
    height: 120px;
}

.imglist_w li:hover .teacher_dl dt {
    line-height: 50px;
    margin-bottom: 5px;
    font-size: 30px;
}

.imglist_w li:hover .teacher_dl dd {
    font-size: 20px;
}

.home_cont5 {
    height: 1700px;
    padding: 50px 0 0;
    /*background: url(../../images/home/cont5_bg.jpg) no-repeat center;*/
}

.cont5_inner {
    height: 654px;
    border-bottom: 1px solid #82cba2;
}

.cont5_inner_l {
    width: 260px;
    height: 600px;
    float: left;
    background: url("../../images/home/tab_bg.png"/*tpa=https://www.zkaqedu.com/content/images/home/tab_bg.png*/) no-repeat 20px 50px;
}

.cont5_inner_r {
    width: 940px;
    height: 600px;
    float: left;
    background: url("../../images/home/cont5_tab_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont5_tab_bg.jpg*/) no-repeat;
    position: relative;
}

.safetyshield {
    width: 130px;
    height: 146px;
    display: block;
    background: url("../../images/home/safe_icon.png"/*tpa=https://www.zkaqedu.com/content/images/home/safe_icon.png*/) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

.text_demand {
    height: 540px;
    padding: 28px 105px 32px 30px;
}

.tab_list {
    width: 100%;
    height: 100%;
    position: relative;
}

.tab_list li {
    width: 101px;
    height: 89px;
    background: url("../../images/home/tab_bar.png"/*tpa=https://www.zkaqedu.com/content/images/home/tab_bar.png*/) no-repeat;
    position: absolute;
    z-index: 4;
}

.tab_list li.jobs1 {
    background-position: 0 0;
    top: 10px;
    left: 100px;
}

.tab_list li.jobs2 {
    background-position: 0 -100px;
    top: 88px;
    left: 0px;
}

.tab_list li.jobs3 {
    background-position: 0 -200px;
    top: 173px;
    left: 100px;
}

.tab_list li.jobs4 {
    background-position: 0 -300px;
    top: 252px;
    left: 0px;
}

.tab_list li.jobs5 {
    background-position: 0 -400px;
    top: 335px;
    left: 100px;
}

.tab_list li.jobs6 {
    background-position: 0 -500px;
    top: 426px;
    left: 0px;
}

.tab_list li.jobs7 {
    background-position: 0 -600px;
    top: 508px;
    left: 100px;
}

.tab_list li.jobs1.hover {
    background-position: -120px 0;
}

.tab_list li.jobs2.hover {
    background-position: -120px -100px;
}

.tab_list li.jobs3.hover {
    background-position: -120px -200px;
}

.tab_list li.jobs4.hover {
    background-position: -120px -300px;
}

.tab_list li.jobs5.hover {
    background-position: -120px -400px;
}

.tab_list li.jobs6.hover {
    background-position: -120px -500px;
}

.tab_list li.jobs7.hover {
    background-position: -120px -600px;
}

.tab_list li.jobs1:hover {
    background-position: -120px 0;
}

.tab_list li.jobs2:hover {
    background-position: -120px -100px;
}

.tab_list li.jobs3:hover {
    background-position: -120px -200px;
}

.tab_list li.jobs4:hover {
    background-position: -120px -300px;
}

.tab_list li.jobs5:hover {
    background-position: -120px -400px;
}

.tab_list li.jobs6:hover {
    background-position: -120px -500px;
}

.tab_list li.jobs7:hover {
    background-position: -120px -600px;
}

.stage_h3 {
    font-size: 22px;
    color: #337a51;
    line-height: 48px;
    height: 48px;
    padding: 0 60px 0 18px;
    background: url("../../images/home/cont5_title_bg2.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont5_title_bg2.png*/) no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.stage_ul {
    padding: 0 20px;
    max-height: 410px;
    overflow: hidden;
}

.stage_ul li {
    font-size: 20px;
    color: #666;
    line-height: 36px;
}

.home_cont6 {
    padding: 50px 0;
}

.cont6_inner {
    height: 686px;
    position: relative;
    background: url("../../images/home/cont6_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont6_bg.jpg*/) no-repeat;
}

.cont6_dl {
    width: 290px;
    height: 58px;
    padding: 10px 15px;
    position: absolute;
    z-index: 3;
    background: #f9f9f9;
    border: 1px solid #dedede;
}

.cont6_dl.hover {
    background: #edf9f4;
    border-color: #b1e3cd;
}

.cont6_dl.hover dt,
.cont6_dl.hover dd {
    color: #3a7b55;
}

.cont6_dl dt,
.cont6_dl dd {
    font-size: 20px;
    color: #666;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cont6_dl1 {
    left: 0;
    top: 0;
}

.cont6_dl2 {
    left: 0;
    top: 110px;
}

.cont6_dl3 {
    left: 0;
    top: 220px;
}

.cont6_dl4 {
    left: 0;
    top: 330px;
    width: 330px;
}

.cont6_dl5 {
    left: 0;
    top: 440px;
    height: 89px;
}

.cont6_dl6 {
    left: 0;
    top: 580px;
}

.cont6_dl7 {
    width: 348px;
    left: 370px;
    top: 440px;
}

.cont6_dl8 {
    left: 369px;
    top: 550px;
}

.cont6_dl9 {
    width: 308px;
    left: 370px;
    top: 0;
}

.cont6_dl10 {
    width: 378px;
    left: 797px;
    top: 0;
}

.cont6_dl11 {
    width: 378px;
    left: 728px;
    top: 104px;
}

.cont6_dl12 {
    left: 900px;
    top: 208px;
    width: 258px;
}

.home_cont7 {
    padding: 20px 0 50px;
}

.cont7_inner_l {
    width: 460px;
    float: left;
}

.cont7_inner_lt {
    height: 195px;
    background: url("../../images/home/cont7_bg1.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont7_bg1.png*/) no-repeat;
    padding-top: 35px;
}

.cont7_inner_r {
    width: 700px;
    height: 520px;
    background: url("../../images/home/cont7_bg2.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont7_bg2.png*/) no-repeat;
    float: right;
}

.student_title {
    height: 60px;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cont7_inner_lt0 {
    width: 348px;
    height: 140px;
    margin: 0 auto;
    padding-top: 20px;
}

.wages_title {
    font-size: 60px;
    color: #528969;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
}

.wages_p {
    font-size: 20px;
    color: #666;
    line-height: 40px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
    font-weight: normal;
}

.yutongxue {
    font-size: 22px;
    color: #808080;
    line-height: 80px;
    margin-bottom: 15px;
    padding-left: 40px;
}

.yutongxue span {
    margin-right: 40px;
}

.reveal_list_box {
    position: relative;
    margin: 66px 0 0 30px;
    width: 470px;
    height: 185px;
    background: url("../../images/home/cont7_bg3.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont7_bg3.jpg*/) no-repeat center;
}

.reveal_list {
    padding-top: 5px;
}

.reveal_list li {
    width: 50%;
    height: 85px;
    float: left;
}

.reveal_dl dt {
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.reveal_dl dd {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #808080;
}

.reveal_dl1 dt {
    color: #edc456;
}

.reveal_dl2 dt {
    color: #8fb1ef;
}

.reveal_dl3 dt {
    color: #f79c65;
    padding-top: 20px;
}

.reveal_dl4 dt {
    color: #b595e5;
    padding-top: 12px;
}

.reveal_dl4 dt span {
    font-size: 20px;
}

.scroll_box {
    width: 660px;
    height: 450px;
    box-shadow: 0 8px 20px #ddd;
    margin: 0 auto;
    background: #fff;
    border-radius: 0 0 10px 10px;
}

.scroll_box {
    overflow: hidden;
    position: relative;
}

.scroll_list>li {
    height: 44px;
}

.scroll_list>li>div {
    width: 33.33%;
    float: left;
    font-size: 16px;
    color: #666;
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.scroll_list>li.even {
    background: #f2faf7;
}

.scroll_list>li>div.one {
    padding-left: 80px;
}

.scroll_list>li>div.two {
    padding-left: 30px;
}

.scroll_list>li>div.three {
    padding-left: 50px;
}

.strength_h3 {
    font-size: 20px;
    color: #666;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 15px 0;
}

.strength_h3 img {
    margin-right: 15px;
}

.strength_h3 span {
    position: relative;
}

.strength_h3 span::before {
    content: '';
    width: 320px;
    height: 1px;
    display: block;
    background: #e5e5e5;
    position: absolute;
    left: -350px;
    top: 15px;
    z-index: 2;
}

.strength_h3 span::after {
    content: '';
    width: 320px;
    height: 1px;
    display: block;
    background: #e5e5e5;
    position: absolute;
    right: -350px;
    top: 15px;
    z-index: 2;
}

.strength_img {
    height: 235px;
    /* background: url(../../images/home/cont7_img.jpg) no-repeat center; */
}

.home_cont8 {
    height: 380px;
    background: url("../../images/home/cont8_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont8_bg.jpg*/) no-repeat center;
}

.home_cont8_p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 220px;
    line-height: 30px;
}

.home_cont9 {
    padding: 50px 0;
    height: 726px;
    background: url("../../images/home/cont9_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont9_bg.jpg*/) no-repeat center;
}

.cont9_t {
    height: 280px;
    position: relative;
    background: url("../../images/home/cont9_bg2.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont9_bg2.png*/) no-repeat;
}

.cont9_b {
    height: 446px;
    position: relative;
}

.cont9_dl {
    width: 250px;
    height: 125px;
    position: absolute;
    z-index: 3;
}

.cont9_dl dt {
    font-size: 22px;
    line-height: 44px;
    margin-bottom: 5px;
    font-weight: bold;
}

.cont9_dl dd {
    font-size: 22px;
    line-height: 44px;
    font-size: 18px;
    line-height: 34px;
}

.cont9_dl1 {
    left: 85px;
    top: 0;
}

.cont9_dl2 {
    left: 485px;
    top: 0;
}

.cont9_dl3 {
    left: 880px;
    top: 0;
}

.cont9_dl4 {
    left: 0;
    top: 140px;
}

.cont9_dl5 {
    left: 323px;
    top: 140px;
}

.cont9_dl6 {
    left: 647px;
    top: 140px;
}

.cont9_dl7 {
    left: 970px;
    top: 140px;
}

.cont9_dl1 dt {
    color: #1e894b;
    border-bottom: 4px solid #8acba1;
}

.cont9_dl1 dd {
    color: #528969;
}

.cont9_dl2 dt {
    color: #e48a39;
    border-bottom: 4px solid #f6e596;
}

.cont9_dl2 dd {
    color: #e2ad3c;
}

.cont9_dl3 dt {
    color: #1e894b;
    border-bottom: 4px solid #8acba1;
}

.cont9_dl3 dd {
    color: #528969;
}

.cont9_dl4 dt {
    color: #e48a39;
    border-bottom: 4px solid #f6e596;
}

.cont9_dl4 dd {
    color: #e2ad3c;
}

.cont9_dl5 dt {
    color: #1e894b;
    border-bottom: 4px solid #8acba1;
}

.cont9_dl5 dd {
    color: #528969;
}

.cont9_dl6 dt {
    color: #e48a39;
    border-bottom: 4px solid #f6e596;
}

.cont9_dl6 dd {
    color: #e2ad3c;
}

.cont9_dl7 dt {
    color: #1e894b;
    border-bottom: 4px solid #8acba1;
}

.cont9_dl7 dd {
    color: #528969;
}

.teachers_img {
    height: 237px;
    position: absolute;
    z-index: 3;
}

.teachers_img1 {
    width: 116px;
    left: 45px;
    top: 15px;
    background: url("../../images/home/t1.png"/*tpa=https://www.zkaqedu.com/content/images/home/t1.png*/) no-repeat;
}

.teachers_img2 {
    width: 156px;
    left: 227px;
    top: 15px;
    background: url("../../images/home/t2.png"/*tpa=https://www.zkaqedu.com/content/images/home/t2.png*/) no-repeat;
}

.teachers_img3 {
    width: 110px;
    left: 405px;
    top: 15px;
    background: url("../../images/home/t3.png"/*tpa=https://www.zkaqedu.com/content/images/home/t3.png*/) no-repeat;
}

.teachers_img4 {
    width: 114px;
    left: 573px;
    top: 15px;
    background: url("../../images/home/t4.png"/*tpa=https://www.zkaqedu.com/content/images/home/t4.png*/) no-repeat;
}

.teachers_img5 {
    width: 90px;
    left: 766px;
    top: 15px;
    background: url("../../images/home/t5.png"/*tpa=https://www.zkaqedu.com/content/images/home/t5.png*/) no-repeat;
}

.teachers_img6 {
    width: 110px;
    left: 927px;
    top: 15px;
    background: url("../../images/home/t6.png"/*tpa=https://www.zkaqedu.com/content/images/home/t6.png*/) no-repeat;
}

.teachers_img7 {
    width: 110px;
    left: 1110px;
    top: 15px;
    background: url("../../images/home/t7.png"/*tpa=https://www.zkaqedu.com/content/images/home/t7.png*/) no-repeat;
}

.home_cont10 {
    height: 640px;
    background: url("../../images/home/cont10_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont10_bg.jpg*/) no-repeat center;
    padding: 50px 0;
}

.partners_box {
    width: 100%;
    height: 405px;
    overflow: hidden;
}

.look_partner_box {
    padding-top: 30px;
}

.look_partner {
    width: 242px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background: url("../../images/home/look_all_require.png"/*tpa=https://www.zkaqedu.com/content/images/home/look_all_require.png*/) no-repeat;
}

.partners_list>li>a {
    display: block;
    width: 232px;
    height: 110px;
    margin: 0 auto 25px;
    overflow: hidden;
}

.partners_list>li>a img {
    width: 100%;
}

.home_cont11 {
    padding: 50px 0;
    height: 765px;
    background: url("../../images/home/cont11_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont11_bg.jpg*/) no-repeat center;
}

.question_list li {
    width: 25%;
    float: left;
    margin-bottom: 10px;
}

.question_cont {
    width: 292px;
    height: 206px;
    border-radius: 10px;
    margin: 0 auto;
}

.question_cont1 {
    border: 2px solid #b1c5ff;
    background: #5b75c2;
}

.question_cont2 {
    border: 2px solid #c2b1ff;
    background: #675ebb;
}

.question_cont3 {
    border: 2px solid #7ab5d3;
    background: #5096ba;
}

.question_cont4 {
    border: 2px solid #d7b05e;
    background: #cfb57f;
}

.question_cont5 {
    border: 2px solid #e37b27;
    background: #f5832f;
}

.question_cont6 {
    border: 2px solid #d73e3e;
    background: #ed5b5b;
}

.question_cont7 {
    border: 2px solid #22ac38;
    background: #5faf54;
}

.question_cont8 {
    border: 2px solid #b4b4b4;
    background: #a3a3a3;
}


/*下面的是翻转测试-自己写的*/

.question_icon {
    padding-top: 44px;
    margin-bottom: 15px;
}

.question_p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.imgbox3 {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    /*舞台（动画元素的父容器）perspective*/
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

.imgbox3>div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.imgbox3>div:first-child {
    /*
    绕y轴旋转
    */
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2;
}

.imgbox3>div:last-child {
    /*background: url("images/bg.jpg") no-repeat 0 0;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
}

.question_list li:hover .imgbox3>div:first-child {
    /*
    绕y轴旋转
    */
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2;
}

.question_list li:hover .imgbox3>div:last-child {
    /*background: url("images/bg.jpg") no-repeat 0 0;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
}

.question_list li:hover .imgbox3>div:first-child {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.question_list li:hover .imgbox3>div:last-child {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.home_cont11_b {
    padding-top: 30px;
}

.home_cont11_p {
    font-size: 24px;
    color: #666;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.home_cont11_a {
    width: 182px;
    height: 55px;
    display: block;
    margin: 0 auto;
    background: url("../../images/home/cont11_zixun.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont11_zixun.png*/) no-repeat;
}

.home_cont12 {
    height: 470px;
    background: url("../../images/home/cont12_bg.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/cont12_bg.jpg*/) no-repeat center;
}

.cont12_inner {
    padding-top: 310px;
}

.cont12_btns {
    width: 720px;
    margin: 0 auto;
}

.cont12_btns li {
    width: 33.33%;
    float: left;
}

.cont12_btn {
    width: 168px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.cont12_btn1 {
    background: url("../../images/home/cont12_btn1.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont12_btn1.png*/) no-repeat;
}

.cont12_btn2 {
    background: url("../../images/home/cont12_btn2.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont12_btn2.png*/) no-repeat;
}

.cont12_btn3 {
    background: url("../../images/home/cont12_btn3.png"/*tpa=https://www.zkaqedu.com/content/images/home/cont12_btn3.png*/) no-repeat;
}


/*fanzhuan start*/

.tiles {
    width: 1250px;
    height: 450px;
    perspective: 1000px;
    margin: auto;
    left: 0;
    right: 0;
}

.col {
    position: relative;
    float: left;
    margin: 6px;
    width: 296px;
    height: 210px;
    /*width: calc(296px - 12px);*/
    /*height: calc(210px - 12px);*/
}

.col a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.col a:nth-child(1) {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
    clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.col a:nth-child(2) {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}

.col a:nth-child(3) {
    -webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
    clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}

.col a:nth-child(4) {
    -webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.col a:hover {
    z-index: 3;
    -webkit-clip-path: none;
    clip-path: none;
}

.col a:nth-child(1):hover~.box {
    transform: rotateX(180deg);
}

.col a:nth-child(2):hover~.box {
    transform: rotateY(180deg);
}

.col a:nth-child(3):hover~.box {
    transform: rotateX(-180deg);
}

.col a:nth-child(4):hover~.box {
    transform: rotateY(-180deg);
}

.col a:nth-child(1):hover~.box:after,
.col a:nth-child(3):hover~.box:after {
    transform: rotateX(-180deg);
}

.col a:nth-child(2):hover~.box:after,
.col a:nth-child(4):hover~.box:after {
    transform: rotateY(-180deg);
}

.col .box {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
}

.col .box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    z-index: 2;
    backface-visibility: hidden;
}

.col .box:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    color: #FFF;
    font-size: 48px;
    border-radius: 2px;
    transition-delay: .15s;
}

.col:nth-child(1) .box:before {
    content: "";
    background: url("../../images/problem/problem1.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem1.png*/) no-repeat;
}

.col:nth-child(1) .box:after {
    background: url("../../images/problem/answer1.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer1.png*/) no-repeat;
}

.col:nth-child(2) .box:before {
    content: "";
    background: url("../../images/problem/problem2.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem2.png*/) no-repeat;
}

/* .col:nth-child(2) .box:after { */
    /* background: url("../../images/problem/answer2.png") no-repeat; */
/* } */
.col:nth-child(2) .box:after {
    background: url("../../images/problem/answer2_1.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer2_1.png*/) no-repeat;
}

.col:nth-child(3) .box:before {
    content: "";
    background: url("../../images/problem/problem3.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem3.png*/) no-repeat;
}

.col:nth-child(3) .box:after {
    background: url("../../images/problem/answer3.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer3.png*/) no-repeat;
}

.col:nth-child(4) .box:before {
    content: "";
    background: url("../../images/problem/problem4.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem4.png*/) no-repeat;
}

.col:nth-child(4) .box:after {
    background: url("../../images/problem/answer4.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer4.png*/) no-repeat;
}

.col:nth-child(5) .box:before {
    content: "";
    background: url("../../images/problem/problem5.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem5.png*/) no-repeat;
}

.col:nth-child(5) .box:after {
    background: url("../../images/problem/answer5.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer5.png*/) no-repeat;
}

.col:nth-child(6) .box:before {
    content: "";
    background: url("../../images/problem/problem6.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem6.png*/) no-repeat;
}

/* .col:nth-child(6) .box:after { */
    /* background: url("../../images/problem/answer6.png") no-repeat; */
/* } */
.col:nth-child(6) .box:after {
    background: url("../../images/problem/answer6_1.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer6_1.png*/) no-repeat;
}

.col:nth-child(7) .box:before {
    content: "";
    background: url("../../images/problem/problem7.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem7.png*/) no-repeat;
}

.col:nth-child(7) .box:after {
    background: url("../../images/problem/answer7.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer7.png*/) no-repeat;
}

.col:nth-child(8) .box:before {
    content: "";
    background: url("../../images/problem/problem8.png"/*tpa=https://www.zkaqedu.com/content/images/problem/problem8.png*/) no-repeat;
}

.col:nth-child(8) .box:after {
    background: url("../../images/problem/answer8.png"/*tpa=https://www.zkaqedu.com/content/images/problem/answer8.png*/) no-repeat;
}


/*fanzhuan end*/

.slogan2-btn {
    width: 720px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.slogan2-btn a {
    display: inline-block;
    width: 136px;
    height: 49px;
}

.slogan2 .slogan2-btn .a1 {
    position: absolute;
    left: 38px;
}

.slogan2 .slogan2-btn .a2 {
    position: absolute;
    left: 277px;
}

.slogan2 .slogan2-btn .a3 {
    position: absolute;
    left: 515px;
}

.slogan2 .slogan2-btn .a1 .hover {
    position: absolute;
    left: 0;
    opacity: 0;
    display: none
}

.slogan2 .slogan2-btn .a2 .hover {
    position: absolute;
    left: 0;
    opacity: 0;
    display: none
}

.slogan2 .slogan2-btn .a3 .hover {
    position: absolute;
    left: 0;
    opacity: 0;
    display: none
}

.slogan2 .slogan2-btn .a1 .img {
    opacity: 1;
}

.slogan2 .slogan2-btn .a2 .img {
    opacity: 1;
}

.slogan2 .slogan2-btn .a3 .img {
    opacity: 1;
}

.finger_box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.tablists {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.finger {
    width: 100%;
    height: 100%;
    position: relative;
}

.hands,
.paths {
    position: absolute;
    z-index: 1;
}

.paths1 {
    width: 159px;
    height: 92px;
    background: url("../../images/combat/bj12.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj12.png*/) no-repeat;
    left: 375px;
    top: 136px;
}

.paths9 {
    width: 201px;
    height: 58px;
    background: url("../../images/combat/bj9.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj9.png*/) no-repeat;
    left: 513px;
    top: 185px;
}

.paths2 {
    width: 198px;
    height: 86px;
    background: url("../../images/combat/bj11.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj11.png*/) no-repeat;
    left: 356px;
    top: 223px;
}

.paths10 {
    width: 347px;
    height: 72px;
    background: url("../../images/combat/bj10.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj10.png*/) no-repeat;
    left: 418px;
    top: 242px;
}

.paths3 {
    width: 197px;
    height: 93px;
    background: url("../../images/combat/bj8.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj8.png*/) no-repeat;
    left: 472px;
    top: 272px;
}

.paths4 {
    width: 92px;
    height: 64px;
    background: url("../../images/combat/bj7.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj7.png*/) no-repeat;
    left: 485px;
    top: 348px;
}

.paths5 {
    width: 199px;
    height: 73px;
    background: url("../../images/combat/bj6.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj6.png*/) no-repeat;
    left: 521px;
    top: 346px;
}

.paths6 {
    width: 144px;
    height: 63px;
    background: url("../../images/combat/bj5.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj5.png*/) no-repeat;
    left: 696px;
    top: 320px;
}

.paths11 {
    width: 199px;
    height: 54px;
    background: url("../../images/combat/bj4.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj4.png*/) no-repeat;
    left: 799px;
    top: 298px;
}

.paths12 {
    width: 289px;
    height: 175px;
    background: url("../../images/combat/bj3.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj3.png*/) no-repeat;
    left: 939px;
    top: 324px;
}

.paths7 {
    width: 178px;
    height: 151px;
    background: url("../../images/combat/bj2.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj2.png*/) no-repeat;
    left: 844px;
    top: 403px;
}

.paths8 {
    width: 289px;
    height: 236px;
    background: url("../../images/combat/bj1.png"/*tpa=https://www.zkaqedu.com/content/images/combat/bj1.png*/) no-repeat;
    left: 929px;
    top: 525px;
}

.hands1 {
    width: 80px;
    height: 129px;
    background: url("../../images/combat/b1.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b1.png*/) no-repeat;
    left: 311px;
    top: 80px;
}

.hands2 {
    width: 67px;
    height: 89px;
    background: url("../../images/combat/b2.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b2.png*/) no-repeat;
    left: 312px;
    top: 189px;
}

.hands3 {
    width: 172px;
    height: 55px;
    background: url("../../images/combat/b3.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b3.png*/) no-repeat;
    left: 320px;
    top: 293px;
}

.hands4 {
    width: 152px;
    height: 16px;
    background: url("../../images/combat/b4.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b4.png*/) no-repeat;
    left: 360px;
    top: 383px;
}

.hands5 {
    width: 289px;
    height: 102px;
    background: url("../../images/combat/b5.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b5.png*/) no-repeat;
    left: 319px;
    top: 409px;
}

.hands6 {
    width: 497px;
    height: 301px;
    background: url("../../images/combat/b6.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b6.png*/) no-repeat;
    left: 319px;
    top: 348px;
}

.hands7 {
    width: 120px;
    height: 40px;
    background: url("../../images/combat/b7.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b7.png*/) no-repeat;
    left: 750px;
    top: 451px;
}

.hands8 {
    width: 341px;
    height: 25px;
    background: url("../../images/combat/b8.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b8.png*/) no-repeat;
    left: 690px;
    top: 599px;
}

.hands9 {
    width: 144px;
    height: 141px;
    background: url("../../images/combat/b9.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b9.png*/) no-repeat;
    left: 437px;
    top: 79px;
}

.hands10 {
    width: 86px;
    height: 181px;
    background: url("../../images/combat/b10.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b10.png*/) no-repeat;
    left: 721px;
    top: 79px;
}

.hands11 {
    width: 12px;
    height: 124px;
    background: url("../../images/combat/b11.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b11.png*/) no-repeat;
    left: 853px;
    top: 184px;
}

.hands12 {
    width: 105px;
    height: 107px;
    background: url("../../images/combat/b12.png"/*tpa=https://www.zkaqedu.com/content/images/combat/b12.png*/) no-repeat;
    left: 1063px;
    top: 289px;
}

.cont6_dl {
    cursor: pointer;
}

.jobs_img_box{
    overflow: hidden;
    margin: 14px 80px 0 0; 
}

.jobs_img {
    width: 140px;
    height: 170px;
    float: left;
    background: url("../../images/home/jobs_img.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/jobs_img.jpg*/) no-repeat;
}

.jobs_img_box .jobs_img1 {
    margin-left: 220px;
    margin-right: 60px;
    background: url("../../images/home/jobs_img1.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/jobs_img1.jpg*/) no-repeat;

}

.jobs_img_box .jobs_img2 {
    height: 140px;
    width: 249px;
    margin-left: 260px;
    background: url("../../images/home/jobs_img2.jpg"/*tpa=https://www.zkaqedu.com/content/images/home/jobs_img2.jpg*/) no-repeat;

}

.progressbar4 {
    -webkit-animation-name: progressbar4;
    animation-name: progressbar4;
}

