/*中心内容部分*/

.open-information {
    width: 100%;
}

.openClass-info {
    width: 100%;
    height: auto;
    margin-top: 12px;
    position: relative;
    margin-left: 18px;
    overflow: hidden;
}

.openClass-info ul {
    height: 415px;
}

.ul-auto {
    height: auto !important;
}

.openClass-info ul li {
    width: 1217px;
    height: 83px;
    display: flex;
    align-items: center;
    background: url("../../images/sign-up/border_bg.png"/*tpa=https://www.zkaqedu.com/content/images/sign-up/border_bg.png*/) no-repeat;
    bottom: 12px;
}

.openClass-info .name {
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-right: 35px;
    margin-left: 43px;
}

.openClass-info .campus {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 9px;
}

.openClass-info ul li i {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(211, 84, 84, 1);
    margin-right: 35px;
}

.openClass-info .stage {
    width: 90px;
    height: 26px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 26px;
    background: url("../../images/sign-up/bg-2.png"/*tpa=https://www.zkaqedu.com/content/images/sign-up/bg-2.png*/) no-repeat;
    background-size: 100% 100%;
    margin-right: 35px;
}

.openClass-info .img2 {
    width: 16px;
    height: 20px;
    margin-right: 13px;
}

.openClass-info .ing {
    margin-right: 35px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(211, 84, 84, 1);
}

.openClass-info a {
    width: 98px;
    height: 35px;
    display: block;
    margin-top: 15px;
    margin-left: 14px;
    background: url("../../images/sign-up/baoming-btn.png"/*tpa=https://www.zkaqedu.com/content/images/sign-up/baoming-btn.png*/) no-repeat;
    background-size: 100% 100%;
}

.openClass-info a:hover {
    background: url("../../images/sign-up/baoming-btn-h.png"/*tpa=https://www.zkaqedu.com/content/images/sign-up/baoming-btn-h.png*/) no-repeat;
    background-size: 100% 100%;
}

img#rocket {
    padding-left: 187px;
    margin-top: -18px;
    height: 35px;
    width: 36px;
}

.openClass-info ul li .time {
    width: auto;
    height: 40px;
    position: relative;
}

.openClass-info ul li .sign {
    background-color: #CB5357;
}

.openClass-info ul li .b {
    background-color: #7B99BB;
}

.more_class {
    width: 100%;
    height: 80px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(83, 77, 52, 1);
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}


/* 就业薪资部分*/

.employment {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center
}

.em-title {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    text-align: center
}

.em-title .xindong {
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
}

.em-title .corner {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    position: relative;
    margin-left: 325px;
}

.em-content {
    display: -webkit-flex;
    display: flex;
    width: 1220px;
    height: 528px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 29px;
}

.em-item {
    width: 640px;
    height: 528px;
}


/*心跳动画效果*/

.jump {
    position: relative;
    width: 640px;
    height: 220px;
    -webkit-animation: heartbeat 3s infinite;
}

.jump:before,
.heart:after {
    content: "";
    position: absolute;
}

.heart:before {
    left: -100px;
}

.heart:after {
    left: 0;
    top: -100px;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 1;
    }
    10% {
        transform: scale(1.2, 1.2);
        opacity: 0.8;
    }
    20% {
        transform: scale(1, 1);
        opacity: 0.8;
    }
    60% {
        transform: scale(1, 1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}


/*心跳动画结束*/

.wages-show {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 520px;
    height: 528px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.wages-show .show-inner {
    width: 640px;
    height: 264px;
}

.wages-show .figure {
    font-size: 60px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: #528969;
    line-height: 135px;
    width: 520px;
    height: 224px;
    line-height: 180px;
    background: url("../../images/employ/wages.png"/*tpa=https://www.zkaqedu.com/content/images/employ/wages.png*/) no-repeat 30px 0;
    display: block;
    margin-top: 28px;
    margin-bottom: 10px;
}

.figure span {
    /*position: relative;*/
    /*width:552px;*/
    /*height:188px;*/
}

.nm-company span {
    font-size: 22px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
    line-height: 40px;
}

.nm-company .name {
    margin-right: 60px;
}

.mid-lay {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 29px;
}

.mid-lay .col_fourth {
    width: 250px;
}

.count-title {
    font-size: 40px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(237, 196, 86, 1);
    line-height: 45px;
    margin-top: 20px;
}

.count-text {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
    line-height: 45px;
}

.wages-list {
    background: url("../../images/employ/list-base.png"/*tpa=https://www.zkaqedu.com/content/images/employ/list-base.png*/) no-repeat;
    width: 700px;
    height: 520px;
    overflow: hidden;
}

.information {
    margin: 0 auto;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 45px;
    margin-top: 60px;
    width: 640px;
    height: 520px;
    overflow: hidden;
}

.information .over {
    width: 640px;
    height: 573px;
}

.information .out-box {
    display: -webkit-flex;
    display: flex;
}

.information .inner-box {
    width: 213px;
}

.employment .more {
    background: url("../../images/employ/btn.png"/*tpa=https://www.zkaqedu.com/content/images/employ/btn.png*/) no-repeat;
    width: 201px;
    height: 54px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.employment .more:hover {
    background: url("../../images/employ/btn-h.png"/*tpa=https://www.zkaqedu.com/content/images/employ/btn-h.png*/) no-repeat;
}


/*为什么学大数据？*/

.why-study {
    margin-top: 50px;
    width: 100%;
    height: 1140px;
    position: relative;
}

.why-study .bg-img1 {
    position: absolute;
    margin: auto;
    /*left: 0;*/
    right: 0;
    top: 0;
    display: block;
    left: 50%;
    margin-left: -960px;
}

.why-study .bg-img2 {
    position: absolute;
    margin: auto;
    /*left: 0;*/
    right: 0;
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -960px;
}

.why-study .why {
    width: 1200px;
    height: 1140px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.why-study .why-title {
    position: absolute;
    left: 0;
    right: 0;
    height: 180px;
    margin: auto;
    text-align: center;
}

.why-title .p1 {
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-top: 48px;
    margin-bottom: 9px;
}

.why-title .p2 {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(170, 170, 170, 1);
    margin-top: 6px;
    margin-left: 200px;
}

.why-content {
    position: absolute;
    width: 1200px;
    height: 960px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    top: 180px;
    left: 0;
    bottom: 0;
    right: 0;
}

.why-content .field {
    width: 600px;
    height: 480px;
}

.why-content .left-up {
    position: absolute;
    top: 0;
    left: 0;
}

.left-up .city {
    position: relative;
    width: 600px;
    height: 340px;
    display: -webkit-flex;
    display: flex;
}

.left-up .little>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-up .city1 {
    position: absolute;
    left: 28px;
    bottom: 0;
}

.bjing {
    height: 0;
}

.left-up .city2 {
    position: absolute;
    left: 125px;
    bottom: 0;
}

.shhai {
    height: 0;
}

.left-up .city3 {
    position: absolute;
    left: 224px;
    bottom: 0;
}

.szhen {
    height: 0;
}

.left-up .city4 {
    position: absolute;
    left: 323px;
    bottom: 0;
}

.gzhou {
    height: 0;
}

.left-up .city5 {
    position: absolute;
    left: 421px;
    bottom: 0;
}

.whan {
    height: 0;
}

.left-up .double-line {
    position: absolute;
    left: 10px;
    bottom: 28px;
}

.left-up .produce>p {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
    margin-left: -40px;
    margin-top: 20px;
}

.left-up .produce a {
    position: absolute;
    width: 150px;
    height: 45px;
    background: url("../../images/why/btn1.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn1.png*/) no-repeat;
    left: 208px;
    bottom: 26px;
}

.left-up .produce a:hover {
    background: url("../../images/why/btn1-h.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn1-h.png*/) no-repeat
}


/**/

.why-content .right-up {
    position: absolute;
    top: 0;
    right: 0;
}

.right-up .job {
    position: relative;
    width: 600px;
    height: 340px;
    display: -webkit-flex;
    display: flex;
}

.why-content .little>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-up .job1 {
    position: absolute;
    right: 445px;
    bottom: 0;
}

.jiagou {
    height: 0;
}

.right-up .job2 {
    position: absolute;
    right: 337px;
    bottom: 0;
}

.fenxi {
    height: 0;
}

.right-up .job3 {
    position: absolute;
    right: 230px;
    bottom: 0;
}

.gongcheng {
    height: 0;
}

.right-up .job4 {
    position: absolute;
    right: 118px;
    bottom: 0;
}

.zongjian {
    height: 0;
}

.right-up .double-line {
    position: absolute;
    right: 91px;
    bottom: 28px;
}

.right-up .produce>p {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
    margin-left: -40px;
    margin-top: 20px;
}

.right-up .produce a {
    position: absolute;
    width: 150px;
    height: 45px;
    background: url("../../images/why/btn2.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn2.png*/) no-repeat;
    left: 208px;
    bottom: 26px;
}

.right-up .produce a:hover {
    background: url("../../images/why/btn2-h.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn2-h.png*/) no-repeat;
}

.why-content .line-1 {
    position: absolute;
    width: 1200px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 480px;
    background: rgba(191, 191, 191, 1);
}

.why-content .line-2 {
    position: absolute;
    width: 2px;
    height: 340px;
    background: rgba(191, 191, 191, 1);
    left: 600px;
    bottom: 600px;
}

.why-content .line-3 {
    position: absolute;
    width: 1px;
    height: 320px;
    right: 600px;
    bottom: 105px;
    background: rgba(191, 191, 191, 1);
}


/**/

.why-content .left-down {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -1000px;
}

.left-down .img {
    position: relative;
    width: 600px;
    height: 280px;
}

.left-down .p {
    position: relative;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    width: 600px;
    height: 100px;
}

.left-down .a {
    position: relative;
    width: 600px;
    height: 100px;
}

.left-down .img>img {
    position: absolute;
    left: 95px;
    top: 40px;
}

.left-down .p>p {
    position: absolute;
    left: 30px;
    right: 50px;
    top: 40px;
    text-align: left;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
}

.left-down .a>a {
    position: absolute;
    width: 150px;
    height: 45px;
    left: 208px;
    bottom: 25px;
    background: url("../../images/why/btn3.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn3.png*/) no-repeat;
}

.left-down .a>a:hover {
    background: url("../../images/why/btn3-h.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn3-h.png*/) no-repeat;
}


/**/

.why-content .right-down {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -1000px;
}

.right-down .img {
    position: relative;
    width: 600px;
    height: 280px;
}

.right-down .p {
    position: relative;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    width: 600px;
    height: 100px;
}

.right-down .a {
    position: relative;
    width: 600px;
    height: 100px;
}

.right-down .img>img {
    position: absolute;
    right: 130px;
    top: 40px;
}

.right-down .p>p {
    position: absolute;
    left: 30px;
    right: 50px;
    top: 40px;
    text-align: left;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
}

.right-down .a>a {
    position: absolute;
    width: 150px;
    height: 45px;
    left: 208px;
    bottom: 25px;
    background: url("../../images/why/btn4.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn4.png*/) no-repeat;
}

.right-down .a>a:hover {
    background: url("../../images/why/btn4-h.png"/*tpa=https://www.zkaqedu.com/content/images/why/btn4-h.png*/) no-repeat;
}


/*为什么 结束*/


/*假大空*/

.fake {
    width: 100%;
    height: 1053px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.fake1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 442px;
}

.fake1 .fake-title {
    position: relative;
    width: 100%;
    height: 128px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fake1 .p1 {
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
    padding-top: 30px
}

.fake1 .p2 {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    margin-left: 200px;
}

.fake1 .answer {
    width: 1220px;
    height: 310px;
    position: relative;
    display: -webkit-flex;
    display: flex;
    margin: auto;
    text-align: center;
}

.fake1 .left-words {
    width: 610px;
    height: 310px;
    position: absolute;
    left: 0;
    margin-left: -1000px;
}

.fake1 .title {
    font-size: 30px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(237, 111, 111, 1);
    line-height: 50px;
    padding-top: 45px;
    margin-bottom: 25px;
}

.fake1 .content {
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: #666666;
    margin-top: 25px;
}

.fake1 .right-img {
    width: 610px;
    height: 310px;
    position: absolute;
    right: 0;
    margin-right: -1000px;
}

.fake1 .right-img img {
    position: relative;
    padding-top: 45px;
}

.fake2 {
    position: relative;
    width: 100%;
    height: 611px;
    margin: auto;
    text-align: center;
}

.fake2 img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}


/*核心价值*/

.value {
    width: 100%;
    height: 980px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.value .bg-img1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
}

.value .bg-img2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.value .box {
    width: 1222px;
    height: 980px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.value .title {
    position: absolute;
    right: 140px;
    margin-top: 43px;
    margin-right: -2000px;
}

.value .img1 {
    position: absolute;
    right: 1040px;
    top: 123px;
    margin-right: -2000px;
}

.value .img2 {
    position: absolute;
    right: 386px;
    top: 123px;
    margin-right: -2000px;
}

.value .img3 {
    position: absolute;
    right: 386px;
    top: 359px;
    margin-right: -2000px;
}

.value .img4 {
    position: absolute;
    right: 386px;
    top: 560px;
    margin-right: -2000px;
}

.value .img5 {
    position: absolute;
    right: 386px;
    top: 688px;
    margin-right: -2000px;
}

.value .img6 {
    position: absolute;
    right: 386px;
    top: 814px;
    margin-right: -2000px;
}

.value .img7 {
    position: absolute;
    right: 193px;
    top: 123px;
    margin-right: -2000px;
}

.value .img8 {
    position: absolute;
    right: 0px;
    top: 123px;
    margin-right: -2000px;
}

.value .img9 {
    position: absolute;
    right: 26px;
    top: 756px;
    margin-right: -2000px;
}

.value a {
    position: absolute;
    background: url("../../images/value/btn.png"/*tpa=https://www.zkaqedu.com/content/images/value/btn.png*/);
    width: 228px;
    height: 62px;
    display: block;
    right: 72px;
    top: 841px;
    margin-right: -2000px;
}

.value a:hover {
    background: url("../../images/value/btn-h.png"/*tpa=https://www.zkaqedu.com/content/images/value/btn-h.png*/);
}


/*课程内容*/

.curriculum {
    width: 100%;
    height: 3171px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.curriculum .bgimg1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
}

.curriculum .bgimg2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 500px;
}

.curriculum .bgimg3 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1000px;
}

.curriculum .bgimg4 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1500px;
}

.curriculum .bgimg5 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 2000px;
}

.curriculum .bgimg6 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 2500px;
}

.curriculum .bgimg7 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.curriculum .title {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    overflow: hidden;
    top: 42px;
}

.curriculum .p1 {
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
    margin-bottom: 20px;
}

.curriculum .p2 {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    margin-bottom: 30px;
}

.curriculum .p3 {
    font-size: 26px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(136, 136, 136, 1);
}


/*版块适用*/

.curriculum .content {
    width: 100%;
    height: 2929px;
    position: relative;
    overflow: hidden;
}

.row-left {
    float: left;
    position: relative;
    width: 50%;
}

.row-right {
    float: right;
    position: relative;
    width: 50%;
}

.litte-title {
    position: absolute;
    margin-top: 28px;
    margin-left: 33px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(130, 120, 70, 1);
    text-align: left;
}

.inner {
    position: relative;
}

.Elastic {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Elastic .list {
    position: relative;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    text-align: left;
}

.Elastic .core {
    width: 550px;
    position: relative;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(89, 139, 164, 1);
    line-height: 32px;
    text-align: left;
    margin-top: 18px;
}

.Elastic ul {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.Elastic ul>li {
    position: relative;
    margin-top: 18px;
}


/*差异*/

.curriculum .row1 {
    position: relative;
    width: 1220px;
    height: 37px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.curriculum .row2 {
    position: relative;
    width: 100%;
    height: 494px;
    overflow: hidden;
}

.inner2-left {
    width: 595px;
    height: 494px;
    float: right;
    background: url("../../images/curriculum/line1.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line1.png*/) no-repeat;
    margin-right: 15px;
}

.inner2-right {
    width: 595px;
    height: 494px;
    float: left;
    background: url("../../images/curriculum/line1.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line1.png*/) no-repeat;
    margin-left: 15px;
}

.row2 .core {
    position: absolute;
    margin: auto;
    top: 340px;
    margin-left: 20px;
}

.curriculum .row3 {
    position: relative;
    width: 100%;
    height: 41px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.curriculum .row4 {
    position: relative;
    width: 100%;
    height: 398px;
    overflow: hidden;
}

.inner4-left {
    width: 595px;
    height: 398px;
    float: right;
    background: url("../../images/curriculum/line2.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line2.png*/) no-repeat;
    margin-right: 15px;
}

.inner4-right {
    width: 595px;
    height: 398px;
    float: left;
    background: url("../../images/curriculum/line2.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line2.png*/) no-repeat;
    margin-left: 15px;
}

.row4 .core {
    position: absolute;
    margin: auto;
    top: 275px;
    margin-left: 20px;
}

.curriculum .row5 {
    position: relative;
    width: 100%;
    height: 434px;
    overflow: hidden;
}

.inner5-left {
    width: 595px;
    height: 434px;
    float: right;
    background: url("../../images/curriculum/line3.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line3.png*/) no-repeat;
    margin-right: 15px;
}

.inner5-right {
    width: 595px;
    height: 434px;
    float: left;
    background: url("../../images/curriculum/line3.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line3.png*/) no-repeat;
    margin-left: 15px;
}

.row5 .core {
    position: absolute;
    margin: auto;
    top: 340px;
    margin-left: 20px;
}

.curriculum .row6 {
    position: relative;
    width: 100%;
    height: 338px;
    overflow: hidden;
}

.inner6-left {
    width: 595px;
    height: 338px;
    float: right;
    background: url("../../images/curriculum/line4.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line4.png*/) no-repeat;
    margin-right: 15px;
}

.inner6-right {
    width: 595px;
    height: 338px;
    float: left;
    background: url("../../images/curriculum/line4.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line4.png*/) no-repeat;
    margin-left: 15px;
}

.row6 .core {
    position: absolute;
    margin: auto;
    top: 245px;
    margin-left: 20px;
}

.curriculum .row7 {
    position: relative;
    width: 100%;
    height: 41px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.curriculum .row8 {
    position: relative;
    width: 100%;
    height: 409px;
    overflow: hidden;
}

.inner8-left {
    width: 595px;
    height: 409px;
    float: right;
    background: url("../../images/curriculum/line5.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line5.png*/) no-repeat;
    margin-right: 15px;
}

.inner8-right {
    width: 595px;
    height: 409px;
    float: left;
    background: url("../../images/curriculum/line5.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/line5.png*/) no-repeat;
    margin-left: 15px;
}

.row8 .core {
    position: absolute;
    margin: auto;
    top: 245px;
    margin-left: 20px;
}

.curriculum .row9 {
    position: relative;
    width: 1220px;
    height: 41px;
    overflow: hidden;
    text-align: center;
    margin: auto
}

.curriculum .row10 {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.inner10-left {
    width: 595px;
    height: 310px;
    float: right;
    background: url("../../images/curriculum/last1.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/last1.png*/) no-repeat;
    margin-right: 15px;
}

.inner10-right {
    width: 595px;
    height: 310px;
    float: left;
    background: url("../../images/curriculum/last2.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/last2.png*/) no-repeat;
    margin-left: 15px;
}

.row10 .core {
    position: absolute;
    margin: auto;
    bottom: 30px;
    margin-left: 20px;
}

.curriculum .row11 {
    position: relative;
    width: 100%;
    height: 55px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.curriculum .a {
    position: relative;
    background: url("../../images/curriculum/btn.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/btn.png*/) no-repeat;
    width: 310px;
    height: 55px;
    text-align: center;
    margin: auto;
}

.curriculum .a:hover {
    background: url("../../images/curriculum/btn-h.png"/*tpa=https://www.zkaqedu.com/content/images/curriculum/btn-h.png*/) no-repeat;
}


/*屏幕监听开始*/

.row2-left {
    margin-left: -1000px;
}

.row2-right {
    margin-right: -1000px;
}

.row4-left {
    margin-left: -1000px;
}

.row4-right {
    margin-right: -1000px;
}

.row5-left {
    margin-left: -1000px;
}

.row5-right {
    margin-right: -1000px;
}

.row6-left {
    margin-left: -1000px;
}

.row6-right {
    margin-right: -1000px;
}

.row8-left {
    margin-left: -1000px;
}

.row8-right {
    margin-right: -1000px;
}

.row10-left {
    margin-left: -1000px;
}

.row10-right {
    margin-right: -1000px;
}


/**/

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/*屏幕监听滚动结束*/


/* 标语1*/

.slogan {
    margin-top: 60px;
    width: 1920px;
    margin-left: -960px;
    position: relative;
    left: 50%;
    height: 380px;
    background: url("../../images/slogan1/bj.png"/*tpa=https://www.zkaqedu.com/content/images/slogan1/bj.png*/) no-repeat;
    background-size: 100% 100%;
}

.slogan-titile {
    width: 1210px;
    height: 360px;
    margin: 0 auto;
}

.slogan-titile>div.title-img {
    width: 823px;
    height: 120px;
    padding-left: 193px;
    padding-top: 130px;
}

.slogan-titile>div.title-img:hover {
    padding-top: 120px;
}


/* 友情链接 */

.divider {
    width: 1210px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px solid #565656;
    border-bottom: 1px solid #565656;
    line-height: 50px;
}

.divider span {
    display: block;
    width: 48px;
    height: 1px;
    background: white;
    margin-top: -1px;
}

.divider-text a {
    margin-left: 30px;
    color: #cccccc;
}

.divider-text a:hover {
    color: #b3b3b3;
}

.divider-text a.t {
    margin-left: 0px;
}


/*鸣谢*/

.annotation {
    width: 1210px;
    height: 60px;
    margin: 0 auto;
    line-height: 56px;
}

.annotation p {
    color: #fff;
    margin-top: -4px;
}

.annotation p span.a {
    color: #999999;
    margin-left: 10px;
}

.annotation p span.b {
    color: #6d93b1;
    margin-left: 8px;
}